* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 100%;
  max-width: 700px;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}



/* @keyframes beatingGlow { ... }: This defines the keyframes for the beating glow animation. The glow pulses between a smaller and a larger blur radius.
0%, 100% { ... }: These are the keyframes where the glow is at its normal intensity.
50% { ... }: This is the keyframe where the glow is at its maximum intensity.
.container button:hover { ... }: When the button is hovered over, the beatingGlow animation is applied.
animation: beatingGlow 1s infinite;: This line applies the beatingGlow animation to the button when hovered. The animation lasts for 1 second and repeats infinitely. */
@keyframes beatingGlow {
  0%, 100% {
    box-shadow: 0 0 8px #a6eb03;
  }
  50% {
    box-shadow: 0 0 20px #a6eb03;
  }
}


.display img {
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 30px;
  cursor: default;
  caret-color: transparent;
}

.display:hover{
  animation: beatingGlow 2s infinite ease-in-out;
}

.display img:active{
  transform: scale(.75);
}


.container button img {
  width: 28px;
  margin-right: 10px;
}

.container button {
  border: 0;
  outline: 0;
  background: #ffffff;
  color: #019f55;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.container button:hover {
  animation: beatingGlow 2s infinite ease-in-out;
}

.container button:active {
  transform: scale(.97);
}
